<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Hack Login</title>

  <style>
    body {
      background-color: #000;
      color: #00ff00;
    }

    .login-container {
      margin-top: 100px;
    }

    .card {
      background-color: #222;
      border: 1px solid #00ff00;
    }

    .card-header {
      background-color: #111;
      border-bottom: 1px solid #00ff00;
    }

    .btn-hack {
      background-color: #00ff00;
      color: #000;
    }

    .btn-hack:hover {
      background-color: #006400;
      color: #fff;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="row justify-content-center login-container">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Hack Login</h4>
          </div>
          <div class="card-body">
          <form action="/admin" method="post">

              <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" placeholder="Enter your ID" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
              </div>
              <button type="button" class="btn btn-hack btn-block" onclick="hackIn()">Hack In</button>

            </form>
            <div id="errorMessage" class="text-danger"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Remove the duplicate inclusion of jQuery -->
<!-- Use the full version of jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function hackIn() {
    var username = $('#id').val();
    var password = $('#password').val();

    $.ajax({
      type: 'POST',
      url: '/admin',
      data: { username: username, password: password },
      success: function(response) {
        // Assuming your server returns a JSON object with a 'success' property
        if (response.success) {
          // Redirect or perform any other action for successful login
          window.location.href = '/admin/dashboard';
        } else {
          // Display error message
          $('#errorMessage').text('Incorrect password. Try again.');
        }
      },
      error: function() {
        // Handle AJAX error if needed
        $('#errorMessage').text('Error occurred. Please try again.');
      }
    });
  }
</script>




</body>

</html>
